* {
  font-size: 18px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-image: linear-gradient(to top right, rgba(168,148,122,0.7), rgba(48,69,109,0.7));
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding-bottom: 9px;
  font-weight: bold;
}

li>span {
  font-weight: normal;
  padding-left: 8px;
  overflow-x: scroll;
  white-space: nowrap;
  width: 82%;
  display: inline-block;
  vertical-align: bottom;
}


span::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  padding: 0 5px;
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(91, 105, 135)
}

#navbar {
  height: 100px;
  position: relative;
}

#title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-content: center;
  font-size: 2.6em;
  font-weight: 700;
  color: #fff;
  margin: auto;
  padding-top: 30px;
  opacity: 1;
}

#container {
  padding: 20px 0;
  display: table;
  width: 100%;
}

#controls {
  float: left;
  width: 15%;
  margin: 0 15px;
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: 'Cutive Mono', monospace;

  background-color: rgba(55,55,55,0.3);
}

#properties {
  padding: 8px;
  text-align: left;
}

#sandbox {
  margin: 0px auto;
  text-align: center;
  display: inline-block;
  border: solid 1px #ccc;
  width: 60%;
  padding: 18.694% 0;
  position: relative;
  box-sizing: border-box;
  background: white;
}

#output {
  float: right;
  width: 20%;
  overflow-y: scroll;
  height: 400px;
  font-size: 0.3em;
  color: white;
  font-family: 'Cutive Mono', monospace;
  text-align: left;
  padding: 10px;
  background-color: rgba(55,55,55,0.3);

}

.classNameForm {
  padding: 30px 0;
}

.inputSpan {
  display: block;
}

input {
  border: 0px solid #fff;
  border-bottom-width: 1px;
  background-color: transparent;
  text-align: center;
  caret-color: white;
  color: white;
}

.classNameSubmit {
  background: transparent;
  color: white;
  border: none;
  font-size: 0.8em;
  border: 1px solid #fff;
  padding: 4px;
  margin-top: 10px;
}

.resizable {
  transition: background-color 0.3s ease;
  position: absolute;
  font-size: 1em;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.resizable:hover {
  background-color: #eee;
}

.resizable-handle {
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.left {
  position: absolute;
  left: 0 !important;
  right: auto !important;
  transform: none !important;
  background: green;
}

.right {
  position: absolute;
  left: auto !important;
  right: 0 !important;
  transform: none !important;
  background: skyblue;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: none !important;
  background: blue;
}

#directionPad {
  margin: 50px 30px;
  text-align: center;
}

#sizeCtrl {
  margin: 50px 30px;
  text-align: center;
}

button {
  margin: 4px;
  border: 1px solid white;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  opacity: 0.6;
}

input:focus {
  outline: none;
}

.modeSelection {
  padding: 10px 20px;
}

#selectMode {
  position: absolute;
  left: 0;
  right: 0;
  top: 350px;
  margin-left: auto;
  margin-right: auto;
}

.propertiesOption>button {
  font-size: 0.7em;
}

.options>div>button {
  border: none;
  font-size: 0.7em;
}

.options>span>input {
  width: 40px;
  margin-left: 5px;
}

.options {
  margin: 10px 0;
}
