.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Cutive Mono', monospace;
}


#navbar {
  height: 150px;
  background-image: linear-gradient(to top right,rgb(195,214,237), rgb(214,233,217));
  position: relative;
}

#navbar div {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 2.6em;
  font-weight: 700;
  color: #555;
}

#container {
  clear: both;
  padding: 20px 0;
}

#controls {
  float: left;
  width: 20%;
}

#sandbox {
  margin: 0px auto;
  text-align: center;
  display: inline-block;
  border: solid 1px #ccc;
  width: 60%;
  padding: 18.694% 0;
  position: relative;
  box-sizing: border-box;
}

#output {
  float: right;
  width: 20%;
  overflow-y: scroll;
  background: #eee;
  height: 680px;
}

.resizable {
  transition: background-color 0.3s ease;
  position: relative;
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  border: solid 1px #ddd;
}

.resizable:hover {
  background-color: #eee;
}

.resizable-handle {
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

.center {
  /* position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize; */
}

#directionPad {
  margin: 50px 30px;
}

#sizeCtrl {
  margin: 50px 30px;
}
